body{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #caf0f8;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column; ;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
html{
    font-size: 62.5%;

}

.container{
    display: flex;
    justify-content: space-around;
    background-color: #03045e ;
    color: white;
    width: 480px;
    height: 300px;
    margin: auto;
    position: relative;
}
h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0077b6;
    text-shadow: 1px 5px 3px black;
}
h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px black;
}
.home-guest{
    background-color: black;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    font-size: 44px;
    font-weight: bold;
    color: #fc2f00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
                                                
}
.increase-btn{
    background-color: #ade8f4;
    margin-bottom: 15px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fc2f00;
    border: 2px solid #0077b6;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px black;
}
.guest-game > #newgame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.reset-cont{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    
}
.reset-btn{
    background-color: #fc2f00;
    font-size: 18px;
    font-weight: bold;
    color: #03045e;
    border: 2px solid #0077b6;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px black;
}